In [1]:
import pandas as pd
file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
total_players_df =pd.DataFrame([len(purchase_data['SN'].value_counts())])
total_players_df.columns = ['Total Players']
total_players_df

   Total Players
0            576

In [4]:
unique_items = len(purchase_data['Item ID'].value_counts())
avg_price = round(purchase_data['Price'].mean(),2)
num_purchases = len(purchase_data['Purchase ID'].value_counts())
total_rev = round(sum(purchase_data['Price']),2)
purchasing_analysis_df = pd.DataFrame({"Unique items": [unique_items], "Average Price": "$"+str(avg_price), "Number of Purchases":
                                      [num_purchases], "Total Revenue": "$"+str(total_rev)})
purchasing_analysis_df

   Unique items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780      $2379.77

In [5]:
no_duplicate_df = purchase_data.drop_duplicates(subset="SN")

P = no_duplicate_df.groupby('Gender')['SN'].count().reset_index()
P['Percentage'] = round(100 * P['SN']  / P['SN'].sum(),2)
P.columns = ['Gender','Total Count','Percentage of Players']
P.sort_values(by=['Percentage of Players'], ascending=False)

                  Gender  Total Count  Percentage of Players
1                   Male          484                  84.03
0                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [100]:
pur_analysis_gender_df = pd.DataFrame()
df = pd.DataFrame()
df['person_counts'] = no_duplicate_df.groupby('Gender')['SN'].size().astype(float)
pur_analysis_gender_df['purchase_count'] = purchase_data.groupby('Gender')['SN'].count()
pur_analysis_gender_df['avg_purchase_count'] = round(purchase_data.groupby('Gender')['Price'].mean(),2).map("${:,.2f}".format)
pur_analysis_gender_df['avg_purchase_sum'] = purchase_data.groupby('Gender')['Price'].sum()
pur_analysis_gender_df['avg_per_person']=round(pur_analysis_gender_df['avg_purchase_sum']/df['person_counts'],2).map("${:,.2f}".format)
pur_analysis_gender_df.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
pur_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [7]:
bins = [0,9,14,19,24,29,34,39,99]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
no_duplicate_df["Age Ranges"] = pd.cut(no_duplicate_df["Age"], bins, labels=age_labels)

df = pd.DataFrame()

df['person_counts'] = no_duplicate_df.groupby('Age Ranges')['SN'].size().astype(float)
bins = [0,9,14,19,24,29,34,39,99]

age_group = purchase_data.groupby("Age Ranges")
age_group = pd.DataFrame()
age_group['purchase_count'] = purchase_data.groupby('Age Ranges')['SN'].count()
age_group['avg_purchase_count'] = round(purchase_data.groupby('Age Ranges')['Price'].mean(),2).map("${:,.2f}".format)
age_group['avg_purchase_sum'] = purchase_data.groupby('Age Ranges')['Price'].sum()
age_group['avg_per_person'] = round(age_group['avg_purchase_sum']/df['person_counts'],2).map("${:,.2f}".format)
age_group.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
age_group

<ipython-input-7-f7668431c49a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_duplicate_df["Age Ranges"] = pd.cut(no_duplicate_df["Age"], bins, labels=age_labels)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

In [119]:
# Establish the bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Categorize the existing players using the age bins
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)
# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})
# Minor Data Wrangling
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)
# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

NameError: name 'player_demographics' is not defined

In [116]:
top_spenders_df = pd.DataFrame()
top_spenders_df['purchase_count'] = purchase_data.groupby('SN')['Purchase ID'].size()
top_spenders_df['avg_purchase_price'] = round(purchase_data.groupby('SN')['Price'].mean(),2).map("${:,.2f}".format)
top_spenders_df['total_purchase_value'] = purchase_data.groupby(['SN'])['Price'].sum()
top_spenders_sorted = top_spenders_df.sort_values(by='total_purchase_value',ascending=False)
top_spenders_sorted.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
top_spenders_sorted.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [114]:
most_popular_items_df = pd.DataFrame()
most_popular_items_df['purchase_count'] = purchase_data.groupby(['Item ID', 'Item Name'])['SN'].size()
most_popular_items_df['item_price'] = round(purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean(),2).map("${:,.2f}".format)
most_popular_items_df['total_purchase_value'] = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum().map("${:,.2f}".format)
most_popular_sorted = most_popular_items_df.sort_values(by='purchase_count',ascending=False)
most_popular_sorted.columns = ['Purchase Count','Item Price','Total Purchase Value']
most_popular_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [126]:
most_popular_items_df = pd.DataFrame()
most_popular_items_df['purchase_count'] = purchase_data.groupby(['Item ID', 'Item Name'])['SN'].size()
most_popular_items_df['item_price'] = round(purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean(),2).map("${:,.2f}".format)
most_popular_items_df['total_purchase_value'] = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()
most_popular_sorted = most_popular_items_df.sort_values(by='total_purchase_value',ascending=False)
most_popular_sorted.columns = ['Purchase Count','Item Price','Total Purchase Value']
most_popular_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80

In [141]:
purchase_count = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].size()
item_price = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean()
total_purchase_value = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()

pop_data_pd = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,"Total Purchase Value": total_purchase_value})

pop_data_sorted = pop_data_pd.sort_values("Total Purchase Value", ascending=False)

pop_data_sorted["Item Price"] = pop_data_sorted["Item Price"].map("${:,.2f}".format)
pop_data_sorted["Purchase Count"] = pop_data_sorted["Purchase Count"].map("{:,}".format)
pop_data_sorted["Total Purchase Value"] = pop_data_sorted["Total Purchase Value"].map("${:,.2f}".format)

pop_data_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80