In [152]:
import pandas as pd
file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)

In [153]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [154]:
total_players_df =pd.DataFrame([len(purchase_data['SN'].value_counts())])
total_players_df.columns = ['Total Players']
total_players_df

   Total Players
0            576

In [155]:
unique_items = len(purchase_data['Item ID'].value_counts())
avg_price = round(purchase_data['Price'].mean(),2)
num_purchases = len(purchase_data['Purchase ID'].value_counts())
total_rev = round(sum(purchase_data['Price']),2)
purchasing_analysis_df = pd.DataFrame({"Unique items": [unique_items], "Average Price": "$"+str(avg_price), "Number of Purchases":
                                      [num_purchases], "Total Revenue": "$"+str(total_rev)})
purchasing_analysis_df

   Unique items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780      $2379.77

In [156]:
no_duplicate_df = purchase_data.drop_duplicates(subset="SN")

P = no_duplicate_df.groupby('Gender')['SN'].count().reset_index()
P['Percentage'] = round(100 * P['SN']  / P['SN'].sum(),2)
P.columns = ['Gender','Total Count','Percentage of Players']
P.sort_values(by=['Percentage of Players'], ascending=False)

                  Gender  Total Count  Percentage of Players
1                   Male          484                  84.03
0                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [182]:
pur_analysis_gender_df = pd.DataFrame()
person_counts = no_duplicate_df.groupby('Gender')['SN'].size()
pur_analysis_gender_df['purchase_count'] = purchase_data.groupby('Gender')['SN'].count()
pur_analysis_gender_df['avg_purchase_count'] = round(purchase_data.groupby('Gender')['Price'].mean(),2).map("${:,.2f}".format)
pur_analysis_gender_df['avg_purchase_sum'] = purchase_data.groupby('Gender')['Price'].sum().map("${:,.2f}".format)
pur_analysis_gender_df['avg_per_person']=round(avg_purchase_sum/person_counts,2).map("${:,.2f}".format)
pur_analysis_gender_df.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
pur_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56