In [2]:
#import the variables and read csv
import pandas as pd
file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)

In [3]:
#create DataFrame total_players_df and count the values of 'SN'
total_players_df =pd.DataFrame([purchase_data['SN'].value_counts().count()])
total_players_df.columns = ['Total Players']
total_players_df

   Total Players
0            576

In [4]:
#create the variables and assign the calculations
unique_items = purchase_data['Item ID'].value_counts().count()
avg_price = round(purchase_data['Price'].mean(),2)
num_purchases = purchase_data['Purchase ID'].value_counts().count()
total_rev = round(purchase_data['Price'].sum(),2)

#create a new DateFrame and place the values
purchasing_analysis_df = pd.DataFrame({"Unique items": [unique_items], "Average Price": avg_price, "Number of Purchases":num_purchases, "Total Revenue": total_rev})

#add formatting to the existing values
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map("${:,.2f}".format)

purchasing_analysis_df

   Unique items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [5]:
#create a new DataFrame and drop duplicates
no_duplicate_df = purchase_data.drop_duplicates(subset="SN")

#create variable to hold groupby 'Gender' values
gender_demographics = no_duplicate_df.groupby('Gender')['SN'].count()

#create vriable to perform percentage calculation
percentage = round(100 * gender_demographics  / gender_demographics.sum(),2)

#create a new DataFrame and assign the values
gender_dem_df = pd.DataFrame({"Total Count": gender_demographics, "Percentage of Players": percentage})
#sort the DataFrame
gender_dm_sorted = gender_dem_df.sort_values(by=['Percentage of Players'], ascending=False)

#add formatting to the sorted DatFrame
gender_dm_sorted['Percentage of Players'] = gender_dm_sorted['Percentage of Players'].map("{:,.2f}%".format)
gender_dm_sorted

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [16]:
#create variables to hold groupby 'Gender' assignments and calculations
person_counts = no_duplicate_df.groupby('Gender')['SN'].size()
purchase_count = purchase_data.groupby('Gender')['SN'].size()
avg_purchase_count = purchase_data.groupby('Gender')['Price'].mean()
avg_purchase_sum = purchase_data.groupby('Gender')['Price'].sum()
avg_per_person = avg_purchase_sum / person_counts

#create a new DataFrame
pur_analysis_gender_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Count": avg_purchase_count,"Total Purchase Value": avg_purchase_sum, "Avg Total Purchase per Person":avg_per_person})

#add formatting before printing
pur_analysis_gender_df['Purchase Count'] = pur_analysis_gender_df['Purchase Count']
pur_analysis_gender_df['Average Purchase Count'] = round(pur_analysis_gender_df['Average Purchase Count'],2).map("${:,.2f}".format)
pur_analysis_gender_df['Total Purchase Value'] = round(pur_analysis_gender_df['Total Purchase Value'],2).map("${:,.2f}".format)
pur_analysis_gender_df['Avg Total Purchase per Person'] = round(pur_analysis_gender_df['Avg Total Purchase per Person'],2).map("${:,.2f}".format)

pur_analysis_gender_df

,Purchase Count,Average Purchase Count,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
#create bins and labels
bins = [0,9,14,19,24,29,34,39,99]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#apply bins to DatFrame 'purchase_data' 'Age'column and add column "Age Ranges"
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)

#create variables for calculations
person_counts = no_duplicate_df.groupby('Age Ranges')['SN'].size()
percentage = round(person_counts / person_counts.sum()*100,2)

#create Dataframe
demographics_df = pd.DataFrame({"Total Count": person_counts, "Percentage of Players": percentage})

#add formatting
demographics_df['Total Count'] = demographics_df['Total Count']
demographics_df['Percentage of Players'] = demographics_df['Percentage of Players'].map("{:,.2f}%".format)
demographics_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [18]:
#create bins and labels
bins = [0,9,14,19,24,29,34,39,99]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#apply bins to DatFrames 'purchase_data' & 'no_duplicate_df' 'Age'column and add column "Age Ranges"
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
no_duplicate_df["Age Ranges"] = pd.cut(no_duplicate_df["Age"], bins, labels=age_labels)

#create variables for calculations
person_counts = no_duplicate_df.groupby('Age Ranges')['SN'].size()
purchase_count = purchase_data.groupby('Age Ranges')['SN'].count()
avg_purchase_price = purchase_data.groupby('Age Ranges')['Price'].mean()
total_purchase_sum = purchase_data.groupby('Age Ranges')['Price'].sum()
avg_per_person = total_purchase_sum/person_counts

#create DataFrame
age_group_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_sum, "Avg Total Purchase per Person":avg_per_person})

#add formatting
age_group_df['Purchase Count'] = age_group_df['Purchase Count']
age_group_df['Average Purchase Price'] = round(age_group_df['Average Purchase Price'],2).map("${:,.2f}".format)
age_group_df['Total Purchase Value'] = round(age_group_df['Total Purchase Value'],2).map("${:,.2f}".format)
age_group_df['Avg Total Purchase per Person'] = round(age_group_df['Avg Total Purchase per Person'],2).map("${:,.2f}".format)

age_group_df

<ipython-input-18-c6028956d0f5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_duplicate_df["Age Ranges"] = pd.cut(no_duplicate_df["Age"], bins, labels=age_labels)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [19]:
#create variable to run calculations
purchase_count = purchase_data.groupby('SN')['Purchase ID'].size()
avg_purchase_price = purchase_data.groupby('SN')['Price'].mean()
total_purchase_value = purchase_data.groupby(['SN'])['Price'].sum()

#create new DataFrame
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Count": avg_purchase_price,"Total Purchase Value": total_purchase_value})

#sort the DataFrame by 'Total Purchase Value' descending order
top_spenders_sorted = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

#add formatting
top_spenders_sorted["Purchase Count"] = top_spenders_sorted["Purchase Count"]
top_spenders_sorted["Average Purchase Count"] = top_spenders_sorted["Average Purchase Count"].map("${:,.2f}".format)
top_spenders_sorted["Total Purchase Value"] = top_spenders_sorted["Total Purchase Value"].map("${:,.2f}".format)

top_spenders_sorted.head()

             Purchase Count Average Purchase Count Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [20]:
#create variable to run calculations
purchase_count = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].size()
item_price = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean()
total_purchase_value = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()

#create new DataFrame
pop_data_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,"Total Purchase Value": total_purchase_value})

#sort the DataFrame by 'Total Purchase Value' descending order
pop_data_sorted = pop_data_df.sort_values("Purchase Count", ascending=False)

#add formatting
pop_data_sorted["Item Price"] = pop_data_sorted["Item Price"].map("${:,.2f}".format)
pop_data_sorted["Purchase Count"] = pop_data_sorted["Purchase Count"].map("{:,}".format)
pop_data_sorted["Total Purchase Value"] = pop_data_sorted["Total Purchase Value"].map("${:,.2f}".format)

pop_data_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [21]:
#create variable to run calculations
purchase_count = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].size()
item_price = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean()
total_purchase_value = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()

#create new DataFrame
pop_data_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,"Total Purchase Value": total_purchase_value})

#sort the DataFrame by 'Total Purchase Value' descending order
pop_data_sorted = pop_data_df.sort_values("Total Purchase Value", ascending=False)

#add formatting
pop_data_sorted["Item Price"] = pop_data_sorted["Item Price"].map("${:,.2f}".format)
pop_data_sorted["Purchase Count"] = pop_data_sorted["Purchase Count"].map("{:,}".format)
pop_data_sorted["Total Purchase Value"] = pop_data_sorted["Total Purchase Value"].map("${:,.2f}".format)

pop_data_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80